// @import 'base/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// base files
@import './base/variables';
//

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 0;
}
// blocks
@import './blocks/main.scss';
@import './blocks/animation.scss';
@import './blocks/ATCLinks.scss';
@import './blocks/FlightPlan.scss';
@import './blocks//METAR.scss';

// media files

//
