.tabs__content__item__animation{
    background: $bg-main-color;
    &__info{
        margin: 0 auto;
        max-width: 1100px;
        padding: 40px;
        background: $white;
        border-radius: 20px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
        display: flex;
        gap: 43px;
        &__left{
            max-width: 350px;
            display: flex;
            flex-wrap: wrap;
            &__item{
                height: min-content;
                width: 100%;
                background-color: #D9D9D9;
                border-radius: 20px;
                padding: 25px;
                &__content{
                    &__title{
                        position: relative;
                        font-size: 16px;
                        font-size: 700;
                        color: $main-text-color;
                    }
                    &__list{
                        list-style-type: none;
                        &__unit{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }
            }
            & button{
                width: 100%;
                height: 89px;
                background-color: $main-color;
                color: $white;
                border: none;
                border-radius: 20px;
                font-size: 20px;
                font-weight: 700;
                align-self: flex-end;
            }
        }
        &__right{
            max-width: 605px;
            max-height: 984px;
            background-color: #D9D9D9;
            border-radius: 20px;
            padding: 20px;
            &__description{
                padding-bottom: 50px;
                color: $main-text-color;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: gray;
}
